body {
    background-color: white;
    padding:0 !important;
    margin:0 !important;
}

#header{
    background-image: url(/public/assets/img/bg.jpg);
    background-size: cover;
    background-clip: border-box;
    height: 500px;
    width: 100%;
   
}

#header div div h1{
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
}

#separator{
    height: 50px;
}

#header div div h3{
    background-color: whitesmoke;
    width: 100%;
    text-align: center;
}

a{
    color: ivory;
}
